@import url('reset.css');
@import url('normalize.css');

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Italic.woff') format('woff'),
		url('../fonts/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Black.woff') format('woff'),
		url('../fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
html,
body {
    font-family: 'Gotham Pro', Arial, sans-serif;
    width: 100%;
    height: 100%;
}
body {
    font-size: 1rem;
    color: #646464;
    line-height: 1.375rem;
}
a, a:link, a:visited {
    color: #646464;
    text-decoration: none;
}
a:hover {
    color: #545ad8;
    text-decoration: none;
}
.fixed {
    position:fixed;
    width:100%; 
}

/* Header */

.drop-menu {
    width: 15px;
    height: 13px;
    background: url("../img/3-layers.png") no-repeat;
    margin: 0 30px 0 10px;
    cursor: pointer;
    display: none;
}
.mobile-menu {
    background-color: #fff;
    width: 0;
    height: 100%;
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 100;
    margin-top: 5rem;
    text-align: center;    
}
.mobile-menu__items {
    margin-top: 100px;
    display: none;
}
.mobile-menu__item {
    text-transform: uppercase;
    font-size: 0.875rem;
    margin-bottom: 30px;
}
.btn-closed {
    background: url('../img/btn-closed.png');
    width: 11px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: fixed; 
}
.header {
    height: 5rem;
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}
.wrapper__header {
    width: 100%;
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}
.header__logo {
    width: 4.375rem;
    height: 3.5rem;
}
.header__description {
    margin-left: 1.875rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
}
.header__menu {
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
}
.munu__item {
    margin-left: 1.5625rem;
    text-transform: uppercase;
    font-weight: 400;
}

/* Slider */

.slider {
    height: 100%;
    z-index: 99;
    text-align: center;
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
	-webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
}
.slider-bg {
    width: 100%;
    height: 100%;
    background: url("../img/slider1.jpg") no-repeat center top;
    background-size: cover;
    position: absolute;
}
.slider__contain {
    max-width: 71.875rem;
    height: 19.375rem;
    color: #fff;
}
.slider__contain-logo {
    font-size: 4.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 1.125rem auto 1.875rem;
}
.slider__wrapper {
    width: 100%;
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}
.slider__contain-description {
    width: 25rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.slider__nav-prev,
.slider__nav-next {
    width: 3.125rem;
    height: 3.125rem;
    border: 1px #fff solid;
    border-radius: 50%;
    cursor: pointer;
}
.slider__nav-prev {
    background: url("../img/arrow-white-left.png") no-repeat center;  
}
.slider__nav-next {
    background: url("../img/arrow-white-right.png") no-repeat center; 
}
.slider__nav-prev:hover{
    transition: .3s;
    background: #fff url("../img/arrow-black-left.png") no-repeat center;
    box-shadow:  0 0 1rem rgb(255, 238, 0);  
}
.slider__nav-next:hover {
    transition: .3s;
    background: #fff url("../img/arrow-black-right.png") no-repeat center; 
    box-shadow:  0 0 1rem rgb(255, 238, 0);
}
.slider__contain-btn {
    width: 10.625rem;
    height: 3.125rem;
    margin: 1rem auto 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1.25rem;
    border: 1px solid #fff;
    background-color: #646464;
    cursor: pointer;
    outline: none !important;    
}
.slider__contain-btn:hover {
    box-shadow:  0 0 1rem rgb(255, 238, 0); 
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.slider__contain-nav {
    position: absolute;
    bottom: 1.25rem;
    left: 0;
    right: 0;
}
.slider__contain-nav-item {
    width: 0.625rem;
    height: 0.625rem;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
}
.active.slider__contain-nav-item {
    border: 1px solid #fff;
    background-color: #646464;
}

/* mini-slider */

.caption {
    text-align: center;
    margin: 2.5rem 0; 
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.caption::after {
    content: "";
    display: table-cell;
    width: 1.875rem;
    height: 0.125rem;
    background: url("../img/bord.png");
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.6rem auto;
    position: absolute;
}
.mini-slider {
    position: relative;
    width: 60.625rem;
    height: 11.25rem;
    margin: 2.5rem auto 0;
    overflow: hidden;
}
.mini-slider__container {
    position: relative;   
    display: flex;    
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
	display: -webkit-flex;
}
.mini-slider-item {
    height: 100%;
    margin-right: 2.1875rem;
}
.mini-slider__nav-prev,
.mini-slider__nav-next {
    position: absolute;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px #646464 solid;
    border-radius: 50%;
    cursor: pointer;
    bottom: 4.375rem;
}
.mini-slider__nav-prev {
    background: url("../img/arrow-gray-left.png") no-repeat center; 
    left: 0; 
}
.mini-slider__nav-next {
    background: url("../img/arrow-gray-right.png") no-repeat center; 
    right: 0;
}
.mini-slider__nav-prev:hover{
    transition: .3s;
    background: #646464 url("../img/arrow-white-left.png") no-repeat center; 
    box-shadow:  0 0 1rem rgb(0, 0, 0); 
}
.mini-slider__nav-next:hover {
    transition: .3s;
    background: #646464 url("../img/arrow-white-right.png") no-repeat center; 
    box-shadow:  0 0 1rem rgb(0, 0, 0); 
}

/* Columns */

.notes {
    max-width: 60.625rem;
    margin: 0 auto;  
}
.notes:nth-of-type(n+2) {
    margin-top: 3.75rem;
}
.notes-items {
    max-width: 18.75rem;
    padding: 0;
    margin-right: 2.1875rem;
}
.notes-items:last-child {
    margin-right: 0;
}
.notes-items__caption {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 1.5625rem;
}

/* Article */

.articles {
    max-width: 47.75rem;
    margin: 0 auto 6.875rem;
}
.article__description {
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.875rem 0;
}
.artionticle__caption {
    letter-spacing: 0.025rem;
    color: #000;
}
.artionticle__caption a {
    color: #545ad8;
}
.artionticle__caption a:hover,
.artionticle__caption-underline  {
    text-decoration: underline;
}
.artionticle__caption-bold {
    font-weight: 700;
}
.artionticle__caption-italic {
    font-style: italic;
}

/* Map */

.map {
    width: 100%;
    height: 37.5rem;
}

/*** Media Query ***/

@media screen and (max-width: 1199px) { 

    .container {
        width: 100%;
    }

    /* mini-slider */

    .mini-slider {
        margin-bottom: 8.4375rem;
    }
    .mini-slider__nav-prev,
    .mini-slider__nav-next {
        bottom: -5.3125rem;        
    }
    .mini-slider__nav-prev {
        left: 40%;
    }
    .mini-slider__nav-next {
        right: 40%;
    } 
}
@media screen and (max-width: 1024px) {   

    /* mini-slider */

    .mini-slider {
        width: 39.6875rem;
    }    

    /* Columns */

    .notes {
        max-width: 58.75rem;
    }
    .notes-items {
        margin-right: 1.25rem;
    }
}
@media screen and (max-width: 969px) {   

    /* Columns */

    .notes {
        max-width: 47.75rem;
        font-size: 0.875rem; 
    }    
    .notes-items {
        max-width: 15.0625rem;
        margin-right: 20px;
    }   

    .notes-items__caption {
        font-size: 0.875rem;
    } 

    /* Article */
    
    .articles {
        font-size: 0.875rem; 
    }
}
@media screen and (max-width: 812px) {  

    /* Header */

    .drop-menu {
        display: block;
    } 
    .header__menu {
        display: none;
    }

    /* Slider */

    .slider__wrapper {
       justify-content: center;
    }
    .slider__nav-prev,
    .slider__nav-next {
        display: none;
    }

}
@media screen and (max-width: 792px) {  

    /* Columns */

    .notes {
        max-width: 47.75rem;
        font-size: 0.875rem; 
    }  
    .notes:nth-of-type(n+2) {
        margin-top: 0;
    }  
    .notes-items {
        max-width: 47.75rem;
        margin-right: 0px;
        margin-bottom: 35px;
    }
    .notes-items__caption {
        margin-bottom: 1.5625rem;
    }
}
@media screen and (max-width: 669px) {

    /* mini-slider */

    .mini-slider {
        width: 18.75rem;
    }
    .mini-slider-item {
        margin-right: 2.1875rem;
    }
    
}
@media screen and (max-width: 533px) {  
    
    /* Slider */

    .slider__contain-logo {
        font-size: 1.5625rem;        
    }
    .slider__contain-description {
        font-size: 0.75rem;
    }

    /* mini-slider */

    .mini-slider__nav-prev {
        left: 30%;
    }
    .mini-slider__nav-next {
        right: 30%;
    } 
}

@media screen and (max-width: 330px) {  
    
   /* Header */

   .wrapper__header {
       display: none;
   }
}

@media screen and (max-width: 329px) {  
    
    /* mini-slider */
 
    .mini-slider__show {
       display: none;        
    }
 }